<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支出計算</title>
</head>
<body>
<form action="/" th:object="${cashData}" method="post">
    <table>
        <tr>
            <th>収入</th>
            <td><input type="text" th:field="*{income}" placeholder="入力してください"></td>
        </tr> 
        <tr>
            <th>カテゴリー</th>
            <td><input type="text" th:field="*{category}" placeholder="入力してください"></td>
        </tr>
        <tr>
            <th>日付</th>
            <td><input type="date" th:field="*{date}"></td>
        </tr>
    </table>
    <div>
        <button type="submit" th:formaction="@{/cash/new}">登録</button>
        <button type="submit" th:formaction="@{/cash/cancel}">キャンセル</button>
    </div>
</form>
</body>
</html>
