<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支出計算</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<a href="/cash/new">
 <buttun type=bottun>新規登録</bottun>
</a>

<table border="1">
    <tr>
    <th>収入</th>
    <th>カテゴリー</th>
    <th>日付</th>
    </tr>
    <tr th:each="cash : ${cashList}">
        <td th:text="${cash.income}"></td>
        <td th:text="${cash.category}"></td>
        <td th:text="${cash.date}"></td>
        <td >
            <form th:action="@{/cash/{id}(id=${cash.id})}" method="post">
                <button type="submit">編集</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>